::selection {
  background: orange;
}

table {
  text-align: center;
}

table th,
table td {
  padding: 5px;
}

table th {
  border: 2px solid #34495e;
}

table tr:hover {
  background-color: lightgray;
}

table tr td {
  border: 2px solid #2c3e50;
}
